* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1;
    font-family: 'Nunito', sans-serif;
    
}

.container {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 6fr 1fr;
}

.user-container {
    align-self: start;
    grid-row: 1;
    grid-column: 1;
    font-size: 1.5vmax;
    background-color: #3498db;
    padding: 1vmax;
    box-shadow: 1px 1px 3px black;
    border-bottom-right-radius: 4px;
}

#user-info {
    color: #ecf0f1;
    display: inline-block;
    vertical-align: middle;
}

#profile-pic {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100%;
    vertical-align: middle;
}

h2{
    font-family: 'Nunito', sans-serif;

    font-size: 1.5vmax;
}


.quote-container {
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 1.5vmax;
    text-align: left;
    color: #2c3e50;
    padding: 1vmax;
    font-family: 'Indie Flower', cursive;
}

.quote-container>p {
    font-family: 'Nunito', sans-serif;
    font-size: 1vmax;
}

.content-container {
    grid-row: 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: minmax(200px, 70vw);
    align-self: start;
}

.friends {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-row: 3 / 5;
    grid-column: 3;
    background-color: #3498db;
    font-size: 1.5vmax;
    color: #ecf0f1;
    border-top-left-radius: 4px;
    box-shadow: -1px -1px 3px black;
    padding-left: 1vmax;
    margin-left: 0.4vmax;
    align-items: center;
    
}

.friends-container{
    font-size: 1.5vmax;
    grid-row: 2 / 10;
    height: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 60%;
}

ul {
    list-style-type: none;
}

.buttons {
    position: fixed;
    bottom: 1vw;
    left: 1vw;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #27ae60;
    color: #ecf0f1;
    font-size: 1vmax;
    cursor: pointer;
}

#gen-page:focus {
    outline: none;
}

#pokemon-image {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-size: 100%;
    justify-self: center;
}

#pokemon-text {
    vertical-align: middle;
}

.pokemon-container {
    font-size: 20px;
    padding: 1vw;
    display: grid;
    grid-template-columns: minmax(150px, 150px) minmax(200px, 400px);
    align-items: center;
    justify-self: baseline;
    border-bottom: 1px solid #2c3e50;
}

.meat-text {
    padding: 0.5vw;
    font-size: 1vmax;
}

.meat-container{
    font-size: 1vmax;
}

.footer {
    grid-row: 4;
    grid-column: 1 / 3;
    background-color: #9fc6da;
    font-size: 1vmax;
    color: #ecf0f1;
    border-top-left-radius: 4px;
    box-shadow: -1px -1px 3px black;
    padding: 1vmax;
}




/*Buttons:*/

/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #1302f8 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #1302f8 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}


@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}